<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joke a Day</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Joke Web</title>
  <script>
      window.apiUrl = "{{.API_URL}}";
  </script>
</head>
<body class="flex flex-col min-h-screen">

  <!-- Header -->
  <header class="bg-white shadow p-6">
    <div class="max-w-4xl mx-auto flex justify-between items-center">
      <div class="flex items-center">
        <img src="/static/images/hl_logo.png" alt="Logo" class="h-10 w-10">
      </div>
      <div class="flex items-center gap-2 text-sm text-gray-500 italic">
        <div class="flex flex-col leading-tight">
          <span>Handcrafted by</span>
          <span class="font-semibold">HieuZenS</span>
        </div>
        <img src="/static/images/tiger_avatar.png" alt="Avatar" class="h-8 w-8 rounded-full object-cover">
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <main class="flex flex-col justify-center items-center bg-[#29B363] text-white py-5 px-4 h-[230px]">
    <h1 class="text-3xl font-bold mb-2">A joke a day keeps the doctor away</h1>
    <p class="text-sm">If you joke wrong way, your teeth have to pay. (Serious)</p>
  </main>

  <section class=" py-14 px-4">
    <div class="max-w-4xl mx-auto text-left text-gray-700 text-lg  mb-10">
      <p class="text-[#646464] joke-content">
        
      </p>
    </div>
    <div class="notification fixed top-5 right-5 z-50 hidden"></div>
    <input type="hidden" class="joke-id" />

    <div class="flex flex-col items-center mt-10 mb-4">
        <div class="max-w-4xl border-t border-gray-200 mb-4"></div>
      
        <div class="flex flex-wrap justify-center gap-5 mt-5 vote-buttons">
            <button class="vote-funny bg-[#2C7EDB] hover:bg-[#1f5fac] text-white font-semibold py-3 px-14 w-[250px] rounded ">
                This is Funny!
              </button>
              <button class="vote-not-funny bg-[#29B363] hover:bg-[#20894f] text-white font-semibold py-3 px-14 w-[250px] rounded ">
                This is not funny.
              </button>
        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer class="bg-white text-gray-500 text-xs py-6 border-t border-gray-200 mt-5">
    <div class="max-w-4xl mx-auto text-center px-8">
      <p class="leading-relaxed mt-2">
        This website is created as part of Hlsolutions program. The materials contained on this website are provided for general
        information only and do not constitute any form of advice. HLS assumes no responsibility for the accuracy of any particular
        statement and accepts no liability for any loss or damage which may arise from reliance on the information contained on this site.
      </p>
      <p class="mt-4">&copy; Copyright 2021 HLS</p>
    </div>
  </footer>


  <script src="/static/js/main.js"></script>
</body>
</html>
